@inject HttpClient _http

@page "/admin"

<PageTitle>Admin Page</PageTitle>

<div class="TagGroupContainer">
    @foreach (var tg in _tagGroups)
    {
        <div class="TagGroupEntry">
            <h1>@tg.Name</h1>
        </div>
    }
</div>

@code {
    private IEnumerable<TagGroupDTO> _tagGroups = new List<TagGroupDTO>();

    protected override async Task OnInitializedAsync()
    {
        var _tagGroups = await _http.GetFromJsonAsync<TagGroupDTO[]>($"api/TagGroup/");
    }
}
