@page "/admin"
@inject HttpClient _http
@inject NavigationManager _nav

<PageTitle>Admin Overview</PageTitle>

<div class="TagGroupContainer">
    @if (!_loaded)
    {
        <p style="text-align: center">Loading...</p>
    }
    else
    {
        @foreach (var tg in TagGroups)
        {
            <div class="TagGroupEntry">
                <RadzenFieldset AllowCollapse="true" Collapsed="true" style="padding-bottom: 10px">
                    <HeaderTemplate>
                            @if (!_editingName[tg.Id])
                            {
                                <b style="font-size: 30px" @ondblclick=@(_ => _editingName[tg.Id] = true)>@tg.Name</b>
                            }
                            else
                            {
                                <RadzenTextBox @bind-Value=@tg.Name Change=@(_ => { _editingName[tg.Id] = false; _edited[tg.Id] = true; }) />
                            }
                    </HeaderTemplate>
                    <ChildContent>
                        <div class="flex-row">
                            <RadzenCheckBox @bind-Value=@tg.RequiredInProject TValue="bool" Change=@(_ => _edited[tg.Id] = true) /><RadzenLabel Text="Required" />
                            <RadzenCheckBox @bind-Value=@tg.SupervisorCanAddTag TValue="bool" Change=@(_ => _edited[tg.Id] = true) /><RadzenLabel Text="Supervisor can add" />
                            <RadzenNumeric  @bind-Value=@tg.TagLimit TValue="int?" Placeholder="No limit" Min="1" style="width: 200px" Change=@(_ => _edited[tg.Id] = true) /><RadzenLabel Text="Limit" />
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="highlight_off" style="float: right" Click=@(_ => RemoveTagGroup(tg)) />
                        </div>
                    </ChildContent>
                </RadzenFieldset>
            </div>
        }
        @*<RadzenButton Text="Add" Icon="plus" ButtonStyle="ButtonStyle.Success" Click=@AddTagGroup />*@
    }
</div>
<div style="position: absolute; bottom: 20px; width: 14%; margin-left: 45%;">
        <RadzenButton Text="Save" Icon="save" style="float: left;" Click=@Save />
        <RadzenButton Text="Cancel" Icon="highlight_off" ButtonStyle="ButtonStyle.Warning" Style="float: right;" Click=@Cancel />
</div>

@code {
    private IEnumerable<TagGroupDTO> _tagGroups = new List<TagGroupDTO>();
    private IEnumerable<TagGroupUpdateDTO> TagGroups { get; set; } = new List<TagGroupUpdateDTO>();
    private bool _loaded;
    private List<int> _deletedTgs = new();

    private Dictionary<int, bool> _edited = new();
    private Dictionary<int, bool> _editingName = new();

    protected override async Task OnInitializedAsync()
    {
        _edited.Add(-1, true);
        _editingName.Add(-1, true);
        _tagGroups = await _http.GetFromJsonAsync<IReadOnlyCollection<TagGroupDTO>>("api/TagGroup");

        TagGroups = _tagGroups.Select(tg => tg.ToUpdateDTO()).ToList();
        foreach (var tg in TagGroups)
        {
            _edited.Add(tg.Id, false);
            _editingName.Add(tg.Id, false);
        }

        _loaded = true;
    }

    private async void Save()
    {
        foreach (var tg in TagGroups)
            if (tg.Id == -1)
                await _http.PostAsJsonAsync("api/TagGroup", tg.Depress());
            else if (_edited[tg.Id])
                await _http.PutAsJsonAsync($"api/TagGroup/{tg.Id}", tg);

        foreach (var id in _deletedTgs)
            await _http.DeleteAsync($"api/TagGroup/{id}");
        
        _nav.NavigateTo(_nav.Uri, forceLoad: true);
    }

    private void Cancel()
    {
        _nav.NavigateTo("");
    }

    private void AddTagGroup()
    {
        TagGroups.Append(
            new TagGroupUpdateDTO()
            {
                Id = -1,
            });
    }

    private void RemoveTagGroup(TagGroupUpdateDTO tg)
    {
        _deletedTgs.Add(tg.Id);
        // Can't remove directly from an IEnumerable, apparently.
        TagGroups = TagGroups.Where(t => t.Id != tg.Id).ToList();
        Console.WriteLine(string.Join(", ", _deletedTgs.Select(id => id.ToString())));
    }
}
