@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
        <p>You can only see this content if you're authorized.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Authentication Failure!</h1>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Supervisor">
    You can only see this if you satify the "Supervisor" policy.
</AuthorizeView>

<AuthorizeView Roles="Admin">
    You can only see this if you satify the "Admin" policy.
</AuthorizeView>

<AuthorizeView Roles="Student">
    You can only see this if you satify the "Student" policy.
</AuthorizeView>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
    }

}