@page "/TagGroupCreation"
@using System.Text.Json

<h1 style="margin-bottom: 48px">Create Tag Group</h1>

<div class="row">
    <div class="col-xl-6">
        <div class="row">
            <div class="col">
                <RadzenTemplateForm TItem="TagGroupCreateDTO" Data=@_tagGroup Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
                    <div class="row" style="margin-bottom: 48px">
                        <div class="col-md-4 align-right">
                            <RadzenLabel Text="Name"/>
                        </div>
                        <div class="col">
                            <RadzenTextBox style="display: block" Name="TagGroupName" @bind-Value=@_tagGroup.Name />
                            <RadzenRequiredValidator Component="TagGroupName" Text="Tag group name is required" />
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 48px">
                        <div class="col-md-4">
                            <RadzenLabel Text="Predefined Tags"/>
                        </div>
                        <div class="col">
                            <Autocomplete class="autocompleteTags" 
                                          TItem="TagCreateDTO"
                                          TValue="string"
                                          Data="@_tagGroup.TagCreateDTOs"
                                          TextField="@(( item ) => item.Value)"
                                          ValueField="@(( item ) => item.Value)"
                                          Placeholder="Search..."
                                          Multiple
                                          FreeTyping
                                          @bind-SelectedValues="_multipleSelectionData"
                                          @bind-SelectedTexts="_multipleSelectionTexts">
                            </Autocomplete>
                        </div>
                    </div>
                    <div class="row supervisorTagsLimit" style="margin-bottom: 48px">
                        <div class="col-md-4">
                            <RadzenLabel Text="Maximum Amount of Tags"/>
                        </div>
                        <div class="col">
                            <RadzenNumeric @bind-Value=@_tagGroup.TagLimit TValue="int" Placeholder="Unlimited" Min="1" />
                        </div>
                    </div>
                    <div class="row supervisorAddTags" style="margin-bottom: 48px">
                        <div class="col-md-4">
                            <RadzenLabel Text="Supervisors Can Add Tags"/>
                        </div>
                        <div class="col">
                            <RadzenCheckBox @bind-Value=@_tagGroup.SupervisorCanAddTag Name="SupervisorCanAdd" TValue="bool" />
                        </div>
                    </div>
                    <div class="row requiredInProject" style="margin-bottom: 48px">
                        <div class="col-md-4">
                            <RadzenLabel Text="Tag Group Required"/>
                        </div>
                        <div class="col">
                            <RadzenCheckBox @bind-Value=@_tagGroup.RequiredInProject Name="RequiredInProject" TValue="bool" />
                        </div>
                    </div>
                    <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Submit" class="createTagGroupSubmit"></RadzenButton>
                </RadzenTemplateForm>
            </div>
        </div>
    </div>
</div>

@code {
    // TODO: Fix enter tryk i tag søge feltet 

    TagGroupCreateDTO _tagGroup = new();

    List<String> _multipleSelectionData;
    List<String> _multipleSelectionTexts = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        // here we need to read in the existing tags for the current tag group – so we need to get the tag group ID somehow
        _multipleSelectionData = new List<string>();
        await base.OnInitializedAsync();
    }

    void OnSubmit(TagGroupCreateDTO tagGroup)
    {
        // here we should submit the _tagGroup 
        // the "final" tags are in a list of strings. That needs to be turned into tags 
        Console.WriteLine("Submit");
        
        foreach (var VARIABLE in _multipleSelectionData)
        {
            Console.WriteLine("Data: " + VARIABLE);
        }
        foreach (var VARIABLE in _multipleSelectionTexts)
        {
            Console.WriteLine("Text: " + VARIABLE);
        }
        Console.WriteLine($"Submit: {JsonSerializer.Serialize(tagGroup, new JsonSerializerOptions() {WriteIndented = true})}");
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        Console.WriteLine($"InvalidSubmit: {JsonSerializer.Serialize(args, new JsonSerializerOptions() {WriteIndented = true})}");
    }

}