@page "/TagGroupCreation"

<div class="row">
    <div class="col-xl-6">
        <h3 style="margin-top: 2rem">Titel*  (TextBox with placeholder)</h3>
        <RadzenTextBox Placeholder="Insert title here.." Change=@(args => SetTitle(args, "Title")) />

        <h3 style="margin-top: 2rem">Tag Brug den her til at adde tags (TextBox with placeholder)</h3>
        <RadzenTextBox Placeholder="Insert tag name here.." Change=@(args => CreateAndAddTag(args, "Tag name")) />
        
        <h3 style="margin-top: 2rem">Set Tag limit  (TextBox with placeholder)</h3>
        <RadzenTextBox Placeholder="Insert title here.." Change=@(args => SetTagLimit(args, "Title")) />
        
        <h3>Supervisors can add tag</h3>
        <RadzenSelectBar @bind-Value=@canAddTag TValue="bool" Change=@(args => OnChange(args, "Supervisors can add tag"))>
            <Items>
                <RadzenSelectBarItem Text="Yes" Value="true" />
                <RadzenSelectBarItem Text="No" Value="false" />
            </Items>
        </RadzenSelectBar>
        
        <h3>Tag Group is required in project</h3>
        <RadzenSelectBar @bind-Value=@isRequiredInProject TValue="bool" Change=@(args => OnChange(args, "Tag Group is required in project"))>
            <Items>
                <RadzenSelectBarItem Text="Yes" Value="true" />
                <RadzenSelectBarItem Text="No" Value="false" />
            </Items>
        </RadzenSelectBar>
                
        <div class="col-xl-6 mb-5">
            <h3>Tags virker ikke pt (ListBox with multiple selection)</h3>
            <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value=@multipleValues Multiple="true" Data=@tags
                           
                           ValueProperty="TagID" Change=@(args => OnChange(args, "ListBox with multiple selection")) Style="height:200px" />
        </div>
        
        <RadzenButton Click=@(args => Submit()) Text="Publish" Icon="check_circle" ButtonStyle="ButtonStyle.Success" />
    </div>
</div>

@code {
    //Links
    // ListBox https://blazor.radzen.com/listbox
    
    
    //TagGroupDTO Importér tagGroup DTO og set values i stedet for nedenstående temp
    // TagGroupCreateDTO createDTO;
    string tagGroupTitle;
    int tagLimit = 999;
    HashSet<Tag> tagsTagGroup;
    int idCounter;
    bool canAddTag = false; // Skal tilføjes til TagGroupDTOen når vi sender den videre. Ændre @bind-Value=@canAddTag til  @bind-Value=@createDTO.canAddTag
    bool isRequiredInProject = false; // Skal tilføjes til TagGroupDTOen når vi sender den videre. Ændre @bind-Value=@isRequiredInProject til  @bind-Value=@createDTO.isRequiredInProject
    IEnumerable<string> multipleValues = new [] {"Tag 1", "Tag 2"};
    IEnumerable<object> tags = new Tag[0];

    void SetTitle(string value, string name)
    {
        //createDTO.Name = value;
        tagGroupTitle = value;
        OnChange(value, name);
    }
    
    void SetTagLimit(string value, string name)
    {
        //createDTO.tagLimit = ToInt32(value);  
        tagLimit = Convert.ToInt32(value); //Handle string inputs exceptions
        OnChange(value, name);
    }

    void CreateAndAddTag(string value, string name)
    {
         //createDTO.Tags.Add((new Tag() {Id = 1, Name = "Tag 1"} ) // Hvordan håndtere vi unikt id her??
        tagsTagGroup.Add(new Tag() {Id = idCounter, Name = value});
        idCounter++;
    }

    void OnChange(object value, string name) 
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
    }
    
    protected override void OnInitialized()
    {
        //HashSet<Tag> tags = ProjectBankContext.Tags.ToList(); // Mangler at hente ProjectBankContext fra main til FrontEnd branch
        
        //Temp tags til testing. // Jeg kan ikke få den til at vise med test data
        tags.Append(new Tag() {Id = 1, Name = "Tag 1"});
        tags.Append(new Tag() {Id = 2, Name = "Tag 2"});
        tags.Append(new Tag() {Id = 3, Name = "Tag 3"});
        tags.Append(new Tag() {Id = 4, Name = "Tag 4"});
        tags.Append(new Tag() {Id = 5, Name = "Tag 5"});
        tags.Append(new Tag() {Id = 6, Name = "Tag 6"});
        
    }

    void Submit()
    {
        
    }

}