@page "/create"
@inject HttpClient _http
@inject NavigationManager _navigationManager

<PageTitle>Create Project</PageTitle>

<h1 style="margin-bottom: 48px">Create Project</h1>

<RadzenTemplateForm TItem="ProjectCreateDTO" Data=@_project Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 48px">
        <div class="col-md-2 align-right">
            <RadzenLabel class="formLabelText" Text="Name"/>
        </div>
        <div class="col">
            <RadzenTextBox style="display: block; width: 40%" Name="ProjectName" @bind-Value=@_project.Name />
            <RadzenRequiredValidator Component="ProjectName" Text="Project name is required"/>
        </div>
    </div>
    <div class="row" style="margin-bottom: 48px">
        <div class="col-md-2 align-right">
            <RadzenLabel class="formLabelText" Text="Description"/>
        </div>
        <div class="col">
            <RadzenTextArea style="display: block; width: 70%" Name="ProjectDescription" @bind-Value=@_project.Description></RadzenTextArea>
            <RadzenRequiredValidator Component="ProjectDescription" Text="Description is required" />
        </div>
    </div>

    @if (!TagGroups.Any())
    {
        <div class="row" style="margin-bottom: 48px">
            <div class="col-md-2 align-right">
                <RadzenLabel class="formLabelText" Text="Loading tags..." />
            </div>
        </div>
    }
    else
    {
        <div class="row" style="margin-bottom: 48px">
            <div class="col-md-2 align-right">
                <RadzenLabel class="formLabelText" Text="Tags"/>
            </div>
            <div class="col">
                @foreach (var tg in TagGroups)
                {
                    @if (tg.Locked && tg.Tags.Any()) 
                    {
                        <h5 class="tagCheckItem">@tg.Name</h5>
                        @if (tg.Tags.Count() <= 5)
                        {
                            <RadzenCheckBoxList style="margin-bottom: 20px" TValue="int">
                                <Items>
                                    @foreach (var tag in tg.Tags)
                                    {
                                        <RadzenCheckBoxListItem Style="min-width: 160px; max-width: 160px" Text=@tag.Name Value=@tag.Id />
                                    }
                                </Items>
                            </RadzenCheckBoxList>
                        }
                        else
                        {
                            <RadzenListBox Style="min-width: 250px" 
                                           AllowFiltering="true" 
                                           FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                                           Multiple="true"
                                           @bind-Value=@SelectedTags[tg.Id]
                                           Data=@tg.Tags 
                                           TextProperty="Name" 
                                           ValueProperty="Id"/>
                        }
                    } else if (!tg.Locked)
                    {
                        @* <h5 class="tagCheckItem">@tg.Name</h5>
                        <Autocomplete class="autocompleteTags"
                                      TItem="Tag"
                                      TValue="string"
                                      Data="@tg.Tags"
                                      TextField="@((item) => item.Name)"
                                      Placeholder="Search..."
                                      Multiple
                                      FreeTyping
                                      @bind-SelectedValues="_multipleSelectionTagsData"
                                      @bind-SelectedTexts="_multipleSelectionTagsTexts">
                        </Autocomplete>*@
                    }
                }
            </div>
        </div>
        <div class="row supervisors" style="margin-bottom: 48px">
            <div class="col-md-2">
                <RadzenLabel class="formLabelText" Text="Supervisors" />
            </div>
            <div class="col">
                <RadzenListBox
                    @bind-Value=@SupervisorIds
                    Multiple="true"
                    Data=@Supervisors 
                    TextProperty="Name" 
                    ValueProperty="Id"  />
            </div>
        </div>
    }

    <RadzenButton class="submitButton" ButtonType="Radzen.ButtonType.Submit" Text="Submit"></RadzenButton>
    <RadzenButton class="cancelButton" Click=@Redirect Text="Cancel" ButtonStyle="ButtonStyle.Light"/>
</RadzenTemplateForm>

@code {

    private IEnumerable<TagGroup> TagGroups { get; set; } = new List<TagGroup>();
    private IEnumerable<Supervisor> Supervisors { get; set; } = new List<Supervisor>();
    
    private Dictionary<int, IEnumerable<int>> SelectedTags = new();
    
    private ISet<int> TagIds => SelectedTags.Aggregate(
        new HashSet<int>(),
        (collection, item) => collection.Concat(item.Value).ToHashSet()
        );



    private IEnumerable<int> test = new List<int>();
    private ProjectCreateDTO _project = new();
    private IEnumerable<int> SupervisorIds { get; set; } // cannot be inside _project because we need enumerable and not set
    
    protected override async Task OnInitializedAsync()
    {
        
        // TODO: Fetch TagGroups from API.
        //TagGroups = await Http.GetFromJsonAsync<TagGroupDTO>("api/Project");
        TagGroups = TagGroup.SampleTagGroups;
        foreach (var tg in TagGroups)
            SelectedTags.Add(tg.Id, new List<int>());

    // TODO: Fetch Supervisors from API.
        // TODO: Automatically add current user to SupervisorIds.
        Supervisors = Supervisor.SampleSupervisors;
        
        _project.UserIds = new HashSet<int>();

        await base.OnInitializedAsync();
    }

    private async void OnSubmit()
    {
        var response = await _http.PostAsJsonAsync("api/Project", _project);
        if (response.IsSuccessStatusCode)
        {
            Redirect();
        }
    }

    void Redirect()
    {
        _navigationManager.NavigateTo($"{_navigationManager.BaseUri}");
    }

}