@page "/index/{Id:int}"
@inject HttpClient _http
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, Supervisor, Student")]

<PageTitle>Project Page</PageTitle>

@if ( _response == "" && _project == null)
{
    <h1>Loading...</h1>
}
else if ( _project != null && _response != "404")
{
    <h1>@_project.Name</h1>
    <div>
        <h2>Description</h2>
        <p>@_project.Description</p>
    </div>
    <div>
        <h2>Supervisors</h2>
        <p>@string.Join(", ", _project.Supervisors.Select(s => s.Name))</p>
    </div>
    <div>
        <h2>Tags</h2>
        <p>@string.Join(", ", _project.Tags.Select((t => t.Value)))</p>
    </div>
}
else
{
    <h1>404 Not Found</h1>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private ProjectDTO? _project = null;
    private string _response = "";

    protected override async void OnParametersSet()
    {
        _response = await (await _http.GetAsync($"api/Project/{Id}")).Content.ReadAsStringAsync();
        _project = await _http.GetFromJsonAsync<ProjectDTO>($"api/Project/{Id}");


    }

}