@page "/index/{Id:int}"
@inject HttpClient _http
<PageTitle>Project Page</PageTitle>

@if (Id != -1)
{
    @if (project == null)
    {
        <h1>Loading...</h1>
    }
    else
    {
        <h1>@project.Name</h1>
        <div>
            <h2>Description</h2>
            <p>Just pretend there's a description here.</p>
        </div>
        <div>
            <h2>Supervisors</h2>
            <p>Prof. P. Professorson</p>
        </div>
        <div>
            <h2>Tags</h2>
            <p>@string.Join(", ", project.Tags.Select((t => t.Value)))</p>
        </div>
    }
}
else
{
    <h1>404 - Project not found.</h1>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private ProjectDTO? project = null;
    
    protected override async void OnParametersSet()
    {
        try
        {
            project = await _http.GetFromJsonAsync<ProjectDTO>($"api/Project/{Id}");
        }
        catch
        {
            Id = -1;
        }
    }
}
