@page "/index"

<style>
    .proj {
        width: 50%;
        background-color: #CCCCCC;
    }
</style>

<PageTitle>Landing Page</PageTitle>

<h1>Projects</h1>

@if (projects.Count() == 0)
{
    <p>Loading projects...</p>
}
else
{
    @foreach (Project p in projects)
    {
        <div class="proj">
            <a href="index/@p.Id">
                <p>@p.Id: @p.Name</p>
                <p style="text-align: right">@p.TagString()</p>
            </a>
        </div>
    }
}

<p>Get Tags onto the left side.</p>

@code {
    IEnumerable<Project> projects = Project.Projects;
}
