:root {
    --submitButton: #3c5ebe;
    --cancelButton: #acb2b9;
    --tagBadgeColor: #7474ad;
}

/* Project Overview */

.ProjectContainer {
    margin-right: 15%;
}

.ProjectList {
    float: right;
    width: 71%;
    height: 85%;
    background-color: red;
    border: 2px solid lightgrey;
    border-radius: 8px;
    padding: 1.2%;
    overflow: scroll;
    overflow-x: hidden;
}

.ProjectEntry {
    width: 100%;
    background-color: darkred;
    border-radius: 18px;
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 10px;
}

.FilterContainer {
    float: left;
    position: absolute;
    width: 18.5%;
    bottom: 50px;
    top: 75px;
    background-color: blue;
    border: 2px solid lightgrey;
    border-radius: 8px;
    padding: 1.2%;
}

.TagFilter {
    border: solid 2px lightgrey;
    border-radius: 8px;
    height: 92%;
    padding: 1.8%;
    background-color: darkblue;
    overflow: scroll;
    overflow-x: hidden;
}

.TagFieldSet {
    margin-bottom: 10px;
    padding-bottom: 5px;
    background-color: aquamarine;
    border: solid 2px lightgrey;
    border-radius: 10px;
}

.TagFieldTitle {
    font-size: 30px;
}

/* Project Page */

/* Project Creation */

.formLabelTextCreateProject {
    font-weight: bold;
    font-size: 20px;
}

.tagCheckItemTitle {
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 20px;
}

.tagCheckItem {
    margin-bottom: 20px !important;
}

.tagDropDown {
    min-width: 250px;
    height: 230px;
}

/* Admin Page */

.TagGroupContainer, .CreateProjectContainer {
    position: absolute;
    margin: auto;
    border: solid 2px lightgrey;
    border-radius: 8px;
    bottom: 50px;
    top: 75px;
    left: 20%;
    right: 20%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1%;
}

/* Create Tag Group */

.formLabelText {
    font-weight: bold;
}

.autocompleteTags {
    background-color: white;
    font-size: 18px;
}

.badge.badge-primary.ml-2, .rz-chkbox-box.rz-state-active {
    background-color: var(--tagBadgeColor);
}

.rz-spinner-button-icon.rzi.rzi-caret-up, .rz-spinner-button-icon.rzi.rzi-caret-down {
    background-color: #b1b4b6;
}

/* General */

.submitButton {
    background-color: var(--submitButton) !important;
    margin-right: 20px;
}

.cancelButton {
    background-color: var(--cancelButton) !important;
}

.lowerSubmitCancelButtons {
    margin-bottom: 70px;
}

.form-control {
    width: 100% !important;
    max-width: none !important;
}