:root {
    --submitButton: #3c5ebe;
    --cancelButton: #acb2b9;
    --tagBadgeColor: #7474ad;
}

/* Project Overview */

.projectContainer {
    margin-right: 15%;
    height: 100%;
}

.landingPageTitle {
    margin: 15px 0 25px 0;
}

.projectList {
    border-radius: 2px;
}

.projectName {
    color: #1a1e21;
}

.matchingTags {
    margin-top: 10px;
    color: #1c33af;
    text-decoration: none;
}

.projectEntryContent {
    padding: 7px 0 7px;
}

.tagFilterContainer {
}

.tagFieldSet {
    border: none !important;
    overflow-wrap: break-word;
}

.projectCardsFlex > .rz-g {
    gap: 25px;
}

.rz-fieldset-legend {
    padding: 10px 0 10px 0 !important;
    margin: 0 !important;
    white-space: normal !important;
}

.rz-fieldset-content {
    padding: 0 20px 0 20px !important;
}

.tagFieldTitle {
    font-size: 20px;
    color: #4A4A4A;
}

.landingPagePager {
    margin-top: 25px;
}

/* Project Page */

/* Project Creation */

.formLabelTextCreateProject {
    font-weight: bold;
    font-size: 20px;
}

.tagCheckItemTitle {
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 20px;
}

.tagCheckItem {
    margin-bottom: 20px !important;
}

.tagDropDown {
    min-width: 250px;
    height: 230px;
}

/* Admin Page */

.TagGroupContainer, .CreateProjectContainer {
    position: absolute;
    margin: auto;
    border: solid 2px lightgrey;
    border-radius: 8px;
    bottom: 70px;
    top: 75px;
    left: 20%;
    right: 20%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1%;
}

.TagGroupEntry {
    padding-bottom: 10px;
}

/* Create Tag Group */

.formLabelText {
    font-weight: bold;
}

.autocompleteTags {
    background-color: white;
    font-size: 18px;
}

.badge.badge-primary.ml-2, .rz-chkbox-box.rz-state-active {
    background-color: var(--tagBadgeColor);
}

.rz-spinner-button-icon.rzi.rzi-caret-up, .rz-spinner-button-icon.rzi.rzi-caret-down {
    background-color: #b1b4b6;
}

/* General */

.submitButton {
    background-color: var(--submitButton) !important;
    margin-right: 20px;
}

.cancelButton {
    background-color: var(--cancelButton) !important;
}

.lowerSubmitCancelButtons {
    margin-bottom: 70px;
}

.form-control {
    width: 100% !important;
    max-width: none !important;
}