/* Project Overview */

.ProjectContainer {
    margin-right: 15%;
}

.ProjectList {
    float: right;
    width: 71%;
    height: 85%;
    background-color: red;
    border: 2px solid lightgrey;
    border-radius: 8px;
    padding: 1.2%;
    overflow: scroll;
    overflow-x: hidden;
}

.ProjectEntry {
    width: 100%;
    background-color: darkred;
    border-radius: 18px;
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 10px;
}

.FilterContainer {
    float: left;
    position: absolute;
    width: 18.5%;
    bottom: 50px;
    top: 75px;
    background-color: blue;
    border: 2px solid lightgrey;
    border-radius: 8px;
    padding: 1.2%;
}

.TagFilter {
    border: solid 2px lightgrey;
    border-radius: 8px;
    height: 92%;
    padding: 1.8%;
    background-color: darkblue;
    overflow: scroll;
    overflow-x: hidden;
}

.TagFieldSet {
    margin-bottom: 10px;
    padding-bottom: 5px;
    background-color: aquamarine;
    border: solid 2px lightgrey;
    border-radius: 10px;
}

.TagFieldTitle {
    font-size: 30px;
}

/* Project Page */

/* Project Creation */

/* Admin Page */

.TagGroupContainer {
    position: absolute;
    margin: auto;
    border: solid 2px lightgrey;
    border-radius: 8px;
    bottom: 50px;
    top: 75px;
    left: 20%;
    right: 20%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1%;
}
