<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjectBank</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Project Overview
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Tag Groups
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, Supervisor">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="tagGroupCreation">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Create Tag Group
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="supervisorOverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Your Projects
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="projectCreation">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Create Project
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true; // s

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
